@import "../../assets/scss/mixins.scss";

.main {
  padding-bottom: 6.25rem;
}
.header {
  background-color: #dde2e9;
  padding-top: 12.5rem;
  padding-bottom: 12.5rem;
  @include respond-phone {
    padding-top: 8.75rem;
    padding-bottom: 8.75rem;
  }
  &__title {
    color: #263958;
    font-weight: bold;
    font-size: 2.2rem;
    &__search {
      color: #6c7a91;
    }
  }
  &__searchBox {
    position: relative;
    &__icon {
      position: absolute;
      left: 0;
      height: 100%;
      width: 3.75rem;
      padding: 1.188rem;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        height: 100%;
        width: auto;
      }
    }
    input {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.05);
      border: 0;
      width: 100%;
      font-size: 1rem;
      padding: 1.25rem;
      padding-left: 3.75rem;
      outline: 0;
    }
  }
}
